BODY {
  margin: 0px;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
}

/* HEADER */
div.header {
  max-width: 100%;
  height: 60px;
  background-color: #8fc27a;
  border-top: 10px solid #3c78d8;
}
p.title {
  max-height: 60px;
  font-family: arial black;
  font-size: 45px;
  margin: 0 auto;
  float: left;
  padding: 0 10px;
  position: absolute;
}
p.wayaku {
  float: left;
  margin: 0;
  padding: 30px 10px 0px;
  position: absolute;
  top: 10px;
  left: 160px;
}
p.desc {
  font-size: 15px;
  text-align: right;
  margin: 0;
  padding: 35px 0px 10px 0px;
}

/* FOOTER */
div.footer {
  max-width: 100%;
  height: 60px;
  background-color: #8fc27a;
  border-bottom: 10px solid #3c78d8;
}
p.company {
  max-height: 60px;
  font-family: arial black;
  font-size: 40px;
  margin: 0;
  text-align: right;
}

/* PAGE TOPに戻るボタン */
a.pagetop {
  position: fixed;
  bottom: 80px;
  right: 15px;
  background-color: #a4c2f4;
  padding: 25px 5px;
  font-size: 15px;
  color: black;
  text-decoration: none;
}
a.pagetop:hover {
  background-color: #6d9eeb;
  color: white;
}

/* メインコンテンツ用仮置き */
div.content {
  min-height: 532px;
  margin: 25px auto;
  max-width: 1024px;
  background-color: #fff8e0;
}

/* Main.php用 */
div.content a#logbut {
  text-decoration: none;
  color: white;
  background-color: #8fc27a;
  padding: 5px 25px;
}

div.content a#logbut:hover {
  background-color: #7daa6a;
}

/* Login.php用 */
div.content div.title > h2 {
  background-color: #8fc27a;
  border-top: solid 2px #3c78d8;
  padding: 0px 15px;
}

/* Create_user_comp.php用 */
div.content div#event > a {
  text-decoration: none;
  color: white;
  background-color: #6d9eeb;
  padding: 5px 25px;
}

div.content div#event > a:hover {
  background-color: #3c78d8;
}

/* Mypage.php用 */
div#contmy {
  background-color: #fff;
}
/* 左側 */
div#side {
  width: 256px;
  float: left;
}

div#side > div {
  width: 240px;
  margin: auto;
  background-color: #deeed8;
}

div#side > div > ul {
  list-style: none;
  padding: 0px;
}

div#side > div > ul > li.top {
  background-color: #a4c2f4;
  border-top: solid 2px #3c78d8;
  border-bottom: none;
}

div#side > div > ul li {
  padding: 5px 10px;
}

div#menu ul li {
  margin: 3px 0px;
  background-color: #ebf1eb;
  border-top: solid 1px #999999;
  border-bottom: solid 1px #999999;
}

div#menu ul li > a {
  text-decoration: none;
}

/* 右側 */
div.content div#side2 {
  max-width: 738px;
  margin-left: auto;
  padding: 1px 0px;
}

div#side2 > div {
  max-width: 720px;
  margin: 20px auto;
}

div#remind {
  background-color: #fff8e0;
  border: solid 2px #b45f06;
}

div#remind > h1 {
  margin: 5px 10px;
}

div#cal1>table, div#cal2>table {
  background-color: #999999;
  margin: auto;
}

div#side2 table th {
  min-width: 60px;
}

div#side2 table tr.top {
  background-color: #ffffff;
}

div#side2 table tr {
  background-color: #edf0f8;
}

/* Reg_district.php用 */
div#contreg {
  background-color: #fff;
}

div#RegMain_Block1 {
  margin: 30px 20px;
}

a.Mybutton {
  border: solid 1px #3c78d8;
  background-color: #6d9eed;
  color: #ffffff;
  text-decoration: none;
  padding: 10px 30px;
}

a.Mybutton:hover {
  background-color: #3c78d8;
}

table#RegDis {
  width: 1024px;
  margin: auto;
  background-color: #deeed8;
  border-top: solid 2px #3c78d8;
}

table#RegDis tr.top {
  background-color: #aad397;
}

table#RegDis th {
  text-align: left;
  padding: 5px 15px;
}

table#RegDis td {
  text-align: center;
  padding: 5px 15px;
}

table#RegDis td p {
  margin: 10px 0px;
}

div#RegMain_Block1 {
  max-width: 1024px;
  margin: 25px auto;
}

div#contRgg > table {
  width: 100%;
}

div#contRgg table h2 {
  background-color: #aad397;
  border-top: solid 3px #3c78d8;
  margin: 0px;
  text-align: left;
  padding: 0px 20px;
}

/* Reg_district_comp.php用 */
div#contRgc table {
  width: 100%;
}

div#contRgc table td {
  text-align: center;
}

div#contRgc table h2 {
  background-color: #aad397;
  border-top: solid 3px #3c78d8;
  margin: 0px;
  text-align: left;
  padding: 0px 20px;
}
