
#text-button {
  display: block;
  cursor: pointer;
  width: 160px;
  text-align: center;
  border: 1px solid #232323;
}

.bb1 {
	display: flex;
	flex-wrap: : nowrap;
	justify-content: space-around;
	padding: 0px;
	width:auto;
	align-items: center;
		text-align: center;
}

.b1 {
	border: solid 1px #3c78d8;
	background-color: #ebf1eb;
	width: 30%;
}

.b2 {
	border: solid 1px ;
	background-color: #fff8e0;
	width: 30%;
}

.b3 {
	border: solid 1px;
	background-color: #3c78d8;
	width: 30%;
}

.bb2 {
	background-color: #fff8e0;
}
.bb3 {
	background-color:#8fc27a;
	color: #FFFFFF;
}

.list_a {
	display: flex;
	flex-direction: row;
    flex-wrap: nowrap;
		width: 700px;
		/* min-width: 500px; */
	margin: 0 auto;
	justify-content: center;
  align-items: center;
}

#list_item {
	flex: auto;
	display: flex;
   min-width:55px;
   height: 50px;
	 border: solid 1px;
	 margin: 5px;
	 justify-content: center;
  align-items: center;

}

.list_item {
	flex: auto;
	display: flex;
   min-width:55px;
   height: 50px;
	 border: solid 1px;
	 margin: 5px;
	 justify-content: center;
  align-items: center;

}
.list_item_2 {
	flex: auto;
   min-width:55px;
   height: 50px;
   background:#deeed8;
	 border: solid 1px;
	 margin: 5px;
	 display:flex;
	 justify-content: center;
  align-items: center;
}
.list_item_2:nth-child(8) {
	background-color: #FFFFFF;
	border: none;
	<?php
	session_start();
	$_SESSION['head'] = "む";
	 ?>
}

.list_item_2:nth-child(10) {
	background-color: #FFFFFF;
	border: none;
}
.list_item_3 {
	flex: auto;
	 min-width:55px;
	 height: 50px;
	 border: solid 1px;
	 margin: 5px;
	 display:flex;
	 justify-content: center;
	align-items: center;
}
.list_item_3:nth-child(10) {
	background-color: #FFFFFF;
	border: none;
}

a {
	text-decoration: none;
	color: black;
}
